{% extends 'base/private.html' %}

{% block title %}Attribute: {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Attribute: {{ object.name }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Detail</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-800">Type: </strong><span>{{ object.type }}</span><br>
                <strong class="text-gray-800">Created At:</strong><span>{{ object.created_at }}</span><br>
                <strong class="text-gray-800">Updated At: </strong><span>{{ object.updated_at }}</span><br>
            </div>
        </div>
    </div>
{% endblock %}