<hr class="sidebar-divider">

<div class="sidebar-heading">People</div>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-users"></i>
      <span>Messenger Users</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Messenger Users:</h6>
        <a class="collapse-item" href="{% url 'messenger_users:index' %}">All Users</a>
      </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
      <i class="fas fa-fw fa-layer-group"></i>
      <span>Groups</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Groups:</h6>
        <a class="collapse-item" href="{% url 'groups:groups' %}">All Groups</a>
        <a class="collapse-item" href="#">My Groups</a>
      </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstances" aria-expanded="true" aria-controls="collapseInstances">
      <i class="fas fa-fw fa-user"></i>
      <span>Instances</span>
    </a>
    <div id="collapseInstances" class="collapse" aria-labelledby="headingInstances" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Instances:</h6>
        <a class="collapse-item" href="{% url 'instances:index' %}">All Instances</a>
        <a class="collapse-item" href="#">My Instances</a>
      </div>
    </div>
</li>