<hr class="sidebar-divider">

<div class="sidebar-heading">Platform</div>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEntities" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-male"></i>
      <i class="fas fa-female"></i>
      <span>Entities</span>
    </a>
    <div id="collapseEntities" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Entities:</h6>
        <a class="collapse-item" href="{% url 'entities:index' %}">All Entities</a>
          <a class="collapse-item" href="{% url 'entities:new' %}">Add New</a>
      </div>
    </div>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAttributes" aria-expanded="true" aria-controls="collapseTwo">
      <i class="far fa-question-circle"></i>
      <span>Attributes</span>
    </a>
    <div id="collapseAttributes" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Attributes:</h6>
        <a class="collapse-item" href="{% url 'attributes:index' %}">All Attributes</a>
          <a class="collapse-item" href="{% url 'attributes:new' %}">Add New</a>
      </div>
    </div>
</li>
