<hr class="sidebar-divider">

<div class="sidebar-heading">Platform</div>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEntities" aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-users"></i>
      <span>Entities</span>
    </a>
    <div id="collapseEntities" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Entities:</h6>
        <a class="collapse-item" href="{% url 'entities:index' %}">All Entities</a>
      </div>
    </div>
</li>
