{% extends 'base/private.html' %}

{% block title %}Afinidata | Bots{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Entities</h1>
                <a href="{% url 'entities:new' %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Create Entity</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Entity List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Instances</th>
                          <th>Created At</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>Instances</th>
                          <th>Created At</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td>{{ entity.name }}</td>
                                <td>{{ entity.description }}</td>
                                <td>{{ entity.instance_set.all.count }}</td>
                                <td>{{ entity.created_at }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{% url 'entities:entity' id=entity.pk %}" class="btn btn-primary">
                                            <i class="fas fa-eye"></i></a>
                                        <a href="{% url 'entities:edit' id=entity.pk %}" class="btn btn-success">
                                            <i class="fas fa-pen"></i>
                                        </a>
                                        <a href="{% url 'entities:delete' id=entity.pk %}" class="btn btn-danger">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

{% endblock %}