{% extends 'milestones/base.html' %}

{% block title %}
    Afinidata | Milestones
{% endblock %}

{% block content %}
    <h1>Milestones</h1>

    <ul>
        {% for milestone in milestones %}
            <li>
                {{ milestone.code }} {{ milestone.name }} - {{ milestone.area.name }} -
                <a href="{% url 'milestones:milestone' id=milestone.pk %}">View</a> -
                <a href="{% url 'milestones:edit' id=milestone.pk %}">Edit</a>
            </li>
        {% endfor %}

    </ul>
    <a href="{% url 'milestones:new' %}">Add new Milestone</a>
{% endblock %}