{% extends 'base/private.html' %}

{% block title %}Get Children Interactions{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Get Children Interactions</h1>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <ul>
                    <li><strong>DM ID: </strong><span>{{ data_migration.pk }}</span></li>
                    <li><strong>DM date: </strong><span>{{ data_migration.date }}</span></li>
                    <li><strong>DM last data ID: </strong><span>{{ data_migration.last_data_id }}</span></li>
                    <li><strong>DM last register ID: </strong><span>{{ data_migration.last_register_id }}</span></li>
                    <li><strong>DM quantity: </strong><span>{{ data_migration.qty_register }}</span></li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}