{% extends 'bots/base.html' %}

{% block title %}Afinidata | {{ entity.name }}{% endblock %}

{% block content %}
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <h1>{{ entity.name }}</h1>

    <div class="content">
        {{ entity.description }}
    </div>

    <div class="attributes">
        <h3>Attributes</h3>
        <ul>
            {% for attribute in entity.attributes.all %}
                <li>{{ attribute.name }}</li>
            {% endfor %}

        </ul>
    </div>

    <div class="forms">
        <h3>Forms</h3>
        <ul>
            {% for form in entity.form_set.all %}
                <li>{{ form }}</li>
            {% endfor %}
            
        </ul>
    </div>

    <div class="actions">
        <a href="{% url 'entities:edit' id=entity.pk %}">Edit Entity</a> -
        <a href="{% url 'entities:add_attribute' id=entity.pk %}">Add attribute</a> -
        <a href="{% url 'forms:new' %}">Add Form</a>
    </div>
{% endblock %}