{% extends 'entities/base.html' %}

{% block title %}Afinidata | Entities{% endblock %}

{% block content %}
    <h1>Entities</h1>

    <ul>
        {% for entity in entities %}
            <li>
                {{ entity.name }} -
                <a href="{% url 'entities:entity' id=entity.pk %}">View</a> -
                <a href="{% url 'entities:edit' id=entity.pk %}">Edit</a> -
                <a href="{% url 'entities:delete' id=entity.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}