{% extends 'bots/base.html' %}

{% block title %}Afinidata | Instances{% endblock %}

{% block content %}

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <h1>Instances</h1>

    <ul>
        {% for instance in instances %}
            <li>
                {{ instance.name }} -
                <a href="{% url 'instances:instance' id=instance.pk %}">View</a> -
                <a href="{% url 'instances:edit' id=instance.pk %}">Edit</a> -
                <a href="{% url 'instances:delete' id=instance.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    {% if is_paginated %}
      <ul class="pagination">
        {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}

    <a href="{% url 'instances:new' %}">Create Instance</a>
{% endblock %}