{% extends 'bots/base.html' %}

{% block title %}Afinidata | Instances{% endblock %}

{% block content %}
    <h1>Instances</h1>

    <ul>
        {% for instance in instances %}
            <li>
                {{ instance.name }} -
                <a href="{% url 'instances:instance' id=instance.pk %}">View</a> -
                <a href="{% url 'instances:edit' id=instance.pk %}">Edit</a> -
                <a href="{% url 'instances:delete' id=instance.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'instances:new' %}">Create Instance</a>
{% endblock %}