{% extends 'base/private.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Group: {{ object.name }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">Created At: </strong><span>{{ object.created_at }}</span><br>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Users</h1>
            <a href="{% url 'groups:add_user_group' group_id=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Add User</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Assignations</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Username</th>
                          <th>Role</th>
                          <th>Assigned Date</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Username</th>
                          <th>Role</th>
                          <th>Assigned Date</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for assignation in object.rolegroupuser_set.all %}
                            <tr>
                                <td>{{ assignation.user.username }}</td>
                                <td>{{ assignation.role }}</td>
                                <td>{{ assignation.created_at }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        <a href="" class="btn btn-success"><i class="fas fa-pen"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Messenger Users</h1>
            <a href="{% url 'groups:add__messenger_user_group' group_id=object.pk %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus fa-sm text-white-50"></i> Add Messenger User</a>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                          <th>Messenger User</th>
                          <th>Created At</th>
                          <th>Assigned Date</th>
                          <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                          <th>Messenger User</th>
                          <th>Created At</th>
                          <th>Assigned Date</th>
                          <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for assignation in object.assignationmessengeruser_set.all %}
                            <tr>
                                <td>
                                    (<a href="{% url 'messenger_users:user' id=assignation.messenger_user_id %}">{{ assignation.messenger_user_id }}</a>)
                                    {{ assignation.get_messenger_user.get_first_name }} {{ assignation.get_messenger_user.get_last_name }}
                                </td>
                                <td>{{ assignation.get_messenger_user.created_at }}</td>
                                <td>{{ assignation.created_at }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        <a href="" class="btn btn-success"><i class="fas fa-pen"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
{% endblock %}