{% extends 'base/private.html' %}

{% block title %}Instance: {{ object.name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object.name }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">Entity: </strong><a href="{% url 'entities:entity' id=object.entity_id %}">{{ object.entity.name.title }}</a><br>
                <strong class="text-gray-900">Created At: </strong><span>{{ object.created_at }}</span><br>
                <strong class="text-gray-900">Last updated At: </strong><span>{{ object.updated_at }}</span><br>
                <strong class="text-gray-900">Actions: </strong>
                <a href="{% url 'instances:edit' id=object.pk %}" class="btn btn-success">Edit</a>
                <a href="{% url 'instances:delete' id=object.pk %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Activities</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 mb-4">

              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sent Activities (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.get_activities.count }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-3 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Completed Activities</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{ object.get_completed_activities.count }}</div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Assigned Activities</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Date Assigned</th>
                                    <th>Date Completed</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for i in instance.get_activities %}
                                    <tr>
                                        <td>{{ i.pk }}</td>
                                        <td>{{ i.name }}</td>
                                        <td>
                                            {% if i.completed %}
                                                 <i class="fas fa-check-circle fa-2x text-success"></i>
                                            {% else %}
                                                <i class="fas fa-times-circle fa-2x text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>{{ i.assign.created_at }}</td>
                                        <td>
                                            {% if i.completed %}
                                                 {{ i.completed.created_at }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Milestones</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Last Assigned milestones</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>Code</th>
                                  <th>Milestone</th>
                                  <th>Last Assigned</th>
                                  <th>Status</th>
                                  <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for milestone in instance.get_assigned_milestones %}
                                    <tr>
                                        <td>{{ milestone.code }}</td>
                                        <td>{{ milestone }}</td>
                                        <td>{{ milestone.assign.created_at }}</td>
                                        <td>
                                            {% if milestone.assign.response == 'done' %}
                                                 <i class="fas fa-check-circle fa-2x text-success"></i>
                                            {% endif %}
                                            {% if milestone.assign.response == 'failed' %}
                                                <i class="fas fa-times-circle fa-2x text-danger"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'milestones:milestone' id=milestone.pk %}" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                                <a href="{% url 'milestones:edit' id=milestone.pk %}" class="btn btn-success"><i class="fa fa-pen"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Completed milestones</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>Milestone</th>
                                  <th>Date assigned</th>
                                  <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for milestone in instance.get_completed_milestones %}
                                    <tr>
                                        <td>{{ milestone.name }}</td>
                                        <td>{{ milestone.assign.created_at }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Failed milestones</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>Milestone</th>
                                  <th>Date Assigned</th>
                                  <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for milestone in instance.get_failed_milestones %}
                                    <tr>
                                        <td>{{ milestone.name }}</td>
                                        <td>{{ milestone.assign.created_at }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Attributes</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Last Attributes</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th>Attribute</th>
                                  <th>Last Value</th>
                                  <th>Last Response</th>
                                  <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for attribute in instance.get_attributes %}
                                    <tr>
                                        <td><a href="{% url 'attributes:attribute' id=attribute.pk %}">{{ attribute }}</a></td>
                                        <td>{{ attribute.assign.value }}</td>
                                        <td>{{ attribute.assign.created_at }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="#" class="btn btn-primary"><i class="fa fa-eye"></i></a>
                                                <a href="#" class="btn btn-success"><i class="fa fa-pen"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}