{% extends 'bots/base.html' %}

{% block title %}Afinidata | Bots{% endblock %}

{% block content %}
    <h1>Bots</h1>

    <ul>
        {% for bot in bots %}
            <li>
                {{ bot.name }} -
                <a href="{% url 'bots:bot' id=bot.pk %}">View</a> -
                <a href="{% url 'bots:edit' id=bot.pk %}">Edit</a> -
                <a href="{% url 'bots:delete' id=bot.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'bots:new' %}">Create Bot</a>
{% endblock %}