{% extends 'areas/base.html' %}

{% block title %}
    Afinidata | {{ area.name }}
{% endblock %}

{% block content %}
    <h1>{{ area.name }}</h1>
    <div class="content">
        {{ area.description }}
    </div>

    <ul>
        {% for milestone in area.milestone_set.all %}
            <li>
                {{ milestone.name }} -
                <a href="{% url 'milestones:milestone' id=milestone.pk %}">View</a> -
                <a href="{% url 'milestones:edit' id=milestone.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>

    <div class="links">
        <a href="{% url 'areas:edit' id=area.pk %}">Edit</a> - 
        <a href="{% url 'areas:index' %}">Back</a>
    </div>
{% endblock %}