{% extends 'areas/base.html' %}

{% block title %}
    Afinidata | Areas
{% endblock %}

{% block content %}
    <h1>Areas</h1>

    <ul>
        {% for area in areas %}
            <li>
                {{ area.name }} -
                <a href="{% url 'areas:area' id=area.pk %}">View</a> -
                <a href="{% url 'areas:edit' id=area.pk %}">Edit</a> -
                <a href="{% url 'areas:delete' id=area.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'areas:new' %}">Create new Area</a>
{% endblock %}