{% extends 'forms/base.html' %}

{% block title %}Afinidata | Forms{% endblock %}

{% block content %}
    <h1>Forms | List</h1>

    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <ul>
        {% for form in forms %}
            <li>
                {{ form.name }} |
                <a href="{% url 'forms:form' id=form.pk %}">View</a> -
                <a href="{% url 'forms:edit' id=form.pk %}">Edit</a> -
                <a href="{% url 'forms:add_attribute' id=form.pk %}">Add Attribute</a>
            </li>
        {% endfor %}
    </ul>

    <div class="actions">
        <a href="{% url 'forms:new' %}">New form</a>
    </div>

{% endblock %}