{% extends 'messenger_users/base.html' %}

{% block title %}
    Afinidata | User
{% endblock %}

{% block content %}
    <h1>Afinidata | User</h1>

    <ul>
        {% for attribute in user.userdata_set.all %}
            <li>
                <strong>{{ attribute.data_key }}:</strong> <span>{{ attribute.data_value }}</span> |
                <a href="{% url 'messenger_users:attribute_edit' id=user.pk attribute_id=attribute.pk %}">Edit</a> -
                <a href="{% url 'messenger_users:attribute_delete' id=user.pk attribute_id=attribute.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Instances: </h2>

    <ul>
        {% for instance in instances %}
            <li>{{ instance.name }} |
                <a href="{% url 'instances:instance' id=instance.pk %}">View</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}