{% extends 'base/private.html' %}

{% block title %}{{ user.get_first_name }} {{ user.get_last_name }}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">{{ object.get_first_name }} {{ object.get_last_name }}</h1>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Info</h6>
            </div>
            <div class="card-body">
                <strong class="text-gray-900">Bot: </strong><a href="{% url 'bots:bot' id=object.bot_id %}">{{ object.get_bot.name }}</a><br>
                <strong class="text-gray-900">Channel ID: </strong>{{ object.last_channel_id }}<br>
                <strong class="text-gray-900">Email: </strong>{{ object.get_email }}<br>
            </div>
        </div>
    </div>

    <ul>
        <li><strong>Username: </strong><span>{{ user.username }}</span>
            {% if user.channel_id %}
                <span>(Migrated)</span>
            {% endif %}
        </li>
        <li><strong>Last Channel ID: </strong><span>{{ user.last_channel_id }}</span></li>
        <li><strong>Channel ID: </strong><span>{{ user.channel_id }}</span></li>
        {% for attribute in user.userdata_set.all %}
            <li>
                <strong>{{ attribute.data_key }}:</strong> <span>{{ attribute.data_value }}</span> |
                <a href="{% url 'messenger_users:attribute_edit' id=user.pk attribute_id=attribute.pk %}">Edit</a> -
                <a href="{% url 'messenger_users:attribute_delete' id=user.pk attribute_id=attribute.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>

    <h2>Instances: </h2>

    <ul>
        {% for instance in user.get_instances %}
            <li>{{ instance.name }} |
                <a href="{% url 'instances:instance' id=instance.pk %}">View</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}