{% extends 'sections/base.html' %}

{% block content %}
    <h1>Sections | List</h1>

    <ul>
        {% for section in sections %}
            <li>
                {{ section.name }} | {{ section.area.name }} | {{ section.level.name }}
                ({{ section.level.min }} - {{ section.level.max }})
                <a href="{% url 'sections:section' id=section.pk %}">View</a> -
                <a href="{% url 'sections:edit' id=section.pk %}">Edit</a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'sections:new' %}">New Section</a>

{% endblock %}